<label>
  Entity Name:
  <input [(ngModel)]="entityName" placeholder="Entity Name" />
</label>
<br />
<label>
  Property Name:
  <input [(ngModel)]="propertyName" placeholder="Property Name" />
</label>
<label>
  Property Type:
  <input [(ngModel)]="propertyType" placeholder="Property Type" />
</label>
<button (click)="addProperty()">Add Property</button>
<br />
<button (click)="generateEntity()">Generate Entity</button>

<app-sql-output [entity]="entity"></app-sql-output>
<app-dapper-output [entity]="entity"></app-dapper-output>
<app-service-output [entity]="entity"></app-service-output>
<app-view-model-output [entity]="entity"></app-view-model-output>
<app-view-output [entity]="entity"></app-view-output>
